:root {
	--button-color: #4caf50;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f4;
}
#uniqueNamesCount {
	line-height: 1.8;
	color: var(--button-color);
	font-weight: 700;
}
.line-break {
	color: #ff0000;
	display: block;
}

.buttonIn {
	width: 50%;
	margin-bottom: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#buttonIn_list {
	gap: 10px;
	width: 100%;
	margin-bottom: 1em;
}
#getUrlHH {
	background: #ffb6c1;
}
#getUrlsingle {
	background: #0000ff;
}
#getUrlseries {
	background: #ff4500;
}
.buttonIn input,
.buttonIn textarea,
.buttonIn select {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 1em;
	background-color: white;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.buttonIn textarea {
	height: 100px;
}

.buttonIn .button-group-horizontal {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 10px;
	margin-top: 1em;
}

.buttonIn button {
	width: 100%;
	background-color: var(--button-color);
	color: white;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.buttonIn button:hover {
	background-color: #45a049;
}

.buttonIn a {
	text-decoration: none;
	width: 100%;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (min-width: 768px) {
	.container {
		flex-direction: column;
	}
}

.table-container {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: white;
	padding: 10px;
}

@media (min-width: 768px) {
	.table-container {
		width: 100%;
	}
}

h2 {
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

th,
td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	word-wrap: break-word;
}

/* Cột đầu tiên chiếm 25% */
th:nth-child(1),
td:nth-child(1) {
	width: 25%;
}
/* Cột thứ hai chiếm 50% */
th:nth-child(2),
td:nth-child(2) {
	width: 70%;
}
th:nth-child(3),
td:nth-child(3) {
	width: 25%;
}

.button-group {
	text-align: center;
	margin-bottom: 10px;
}

.button-group button {
	margin: 0 5px;
	padding: 10px;
	background-color: var(--button-color);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.button-group button:hover {
	background-color: #45a049;
}

/* Styling for select dropdown */
.buttonIn select {
	cursor: pointer;
	appearance: none;
	background-color: white;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="%234caf50" d="M7 10l5 5 5-5z"/></svg>');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 1em;
	font-size: 16px;
}

.buttonIn select:hover {
	border-color: var(--button-color);
}

/* Toast container - chứa tất cả các thông báo */
/* Toast container - fixed position on the right side */
.toast-container {
	position: fixed;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	z-index: 1000;
	width: fit-content;
}

/* Toast notification style */
.toast {
	background-color: var(--button-color); /* Màu nền của toast */
	color: white;
	padding: 10px 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-size: 16px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	opacity: 1;
	transition: opacity 0.5s ease-out;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Hiệu ứng khi đóng toast */
.toast .close-btn {
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	color: white;
	margin-left: 10px;
}

.toast.hide {
	opacity: 0; /* Khi ẩn toast */
}

/* Styling cho radio button */
#crawlModeWrapper {
	margin: 1em;
}

#crawlModeWrapper label {
	font-size: 16px;
}

input[type='checkbox'] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 2px solid var(--button-color);
	cursor: pointer;
	position: relative;
	border-radius: 5px;
	top: 8px;
}

/* Khi checkbox được chọn */
input[type='checkbox']:checked {
	background-color: var(--button-color);
}

/* Dấu tick màu trắng */
input[type='checkbox']:checked::after {
	content: '✔'; /* Dấu tick */
	color: #fff; /* Màu trắng cho dấu tick */
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hide {
	display: none;
}
.show {
	display: block;
}
#currentPageInfo {
	font-size: 16px;
	padding: 10px;
	background-color: #f0f0f0;
	border-radius: 5px;
	display: inline-block;
}

#currentPage {
	font-weight: bold;
	color: var(--button-color);
	padding: 5px 10px;
	background-color: #ffffff;
	border-radius: 90%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: inline-block;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

#currentPageInfo #currentPage.jump {
	transform: scale(1.2);
	opacity: 1;
}

#progressWrapper {
	width: 50%;
	margin: 20px 0;
}

#progressLabel {
	margin-bottom: 10px;
	font-size: 16px;
	color: #333;
}

progress {
	width: 100%; /* Đặt chiều rộng bằng 100% để lấp đầy phần tử cha */
	height: 20px;
	appearance: none; /* Tắt giao diện mặc định */
}

progress::-webkit-progress-bar {
	background-color: #0000ff; /* Nền của thanh tiến trình */
	border-radius: 10px; /* Bo góc thanh tiến trình */
}

progress::-webkit-progress-value {
	background-color: var(--button-color); /* Màu của thanh tiến trình */
	border-radius: 10px; /* Bo góc thanh tiến trình */
}

progress::-moz-progress-bar {
	background-color: var(--button-color); /* Màu của thanh tiến trình cho Firefox */
	border-radius: 10px;
}
