:root {
	--button-color: #4caf50;
}
* {
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f4;
}
#uniqueNamesCount {
	line-height: 1.6;
	color: var(--button-color);
	font-weight: 700;
}
.line-break {
	color: #ff0000;
	display: block;
}
#crawlSummary {
	width: 100%;
	display: flex;
	flex-direction: row;
}
#crawlSummary p {
	width: 25%;
}
#crawlModeWrapper {
	margin: 1em;
	width: 100%;
}

#crawlModeWrapper label {
	font-size: 16px;
}
.crawlOption {
	width: 100%;
	display: flex;

	flex-direction: column;
}
.buttonIn {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
#buttonIn_list {
	gap: 10px;
	width: 100%;
	margin-bottom: 1em;
}
#getUrlHH {
	background: #ffb6c1;
}
#getUrlsingle {
	background: #0000ff;
}
#getUrlseries {
	background: #ff4500;
}
#getUrltvshow {
	background: #ff00ea;
}

.buttonIn input,
.buttonIn textarea,
.buttonIn select {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 1em;
	background-color: white;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.buttonIn textarea {
	height: 100px;
}

.buttonIn .button-group-horizontal {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 10px;
	margin-top: 1em;
}
.buttonIn label {
	padding-bottom: 1em;
	display: block;
}
.button-group-horizontal a {
	color: #fff;
}
a[href*='rophim.html'] button {
	background: #fecf59;
	background: linear-gradient(39deg, #fecf59, #fff1cc);
	color: #212529;
}
a[href*='rophim.html']:hover button {
	background: #fecf59;
	box-shadow: 0 5px 10px 10px rgba(255, 218, 125, 0.15);
}
.buttonIn button {
	width: 100%;
	background-color: var(--button-color);
	color: white;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.buttonIn button:hover {
	background-color: #45a049;
}
.buttonIn__input input[type='text'],
.buttonIn__input input[type='number'] {
	margin-bottom: 10px;
	padding: 8px;
	width: 100%;
	box-sizing: border-box;
}
.buttonIn a {
	text-decoration: none;
	width: 100%;
}
button:hover {
	transform: scale(1.1);
	transition: linear 0.2s;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	margin-bottom: 2em;
}
.count-movie {
	flex: 1;
}

@media (min-width: 768px) {
	.container {
		flex-direction: column;
	}
	.container__input {
		flex-direction: row;
	}
}
@media (max-width: 768px) {
	.container__input {
		flex-direction: column;
	}
}
.status .container__input {
	width: 50%;
}
.index .container__input {
	width: 100%;
}
.container__input {
	display: flex;
	gap: 10px;
}
.table-container__list {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: white;
	padding: 10px;
	margin-bottom: 1em;
}

@media (min-width: 768px) {
	.table-container__list {
		width: 100%;
	}
}

h2 {
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

th,
td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	word-wrap: break-word;
}

/* Cột đầu tiên chiếm 25% */
th:nth-child(1),
td:nth-child(1) {
	width: 25%;
}
/* Cột thứ hai chiếm 50% */
th:nth-child(2),
td:nth-child(2) {
	width: 70%;
}
th:nth-child(3),
td:nth-child(3) {
	width: 25%;
}
.table-crawl-status th:nth-child(1),
.table-crawl-status th:nth-child(2),
.table-crawl-status td:nth-child(1),
.table-crawl-status td:nth-child(2) {
	width: 20%;
}
.table-crawl-status th:nth-child(3),
.table-crawl-status td:nth-child(3) {
	width: 40%;
}
.table-crawl-status th:nth-child(4),
.table-crawl-status th:nth-child(5),
.table-crawl-status td:nth-child(4),
.table-crawl-status td:nth-child(5) {
	width: 10%;
}

.table-rophim th,
.table-rophim td {
	width: 25%;
}
.table-rophim {
	width: 100%;
	border-collapse: collapse;
	max-height: 400px; /* Chiều cao tối đa của bảng */
	display: block; /* Để bảng hỗ trợ scroll */
	overflow-y: auto; /* Hiển thị thanh cuộn dọc khi nội dung vượt quá chiều cao */
}

.table-rophim thead,
.table-rophim tbody {
	display: table;
	width: 100%;
	table-layout: fixed; /* Đảm bảo các cột có chiều rộng cố định */
}

.table-rophim th,
.table-rophim td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	white-space: nowrap; /* Ngăn xuống hàng */
	max-width: 200px; /* Giới hạn chiều rộng tối đa */
	overflow: hidden; /* Ẩn phần nội dung tràn */
	text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi nội dung quá dài */
}

.table-rophim thead {
	position: sticky; /* Giữ tiêu đề cố định khi cuộn */
	top: 0;
	background-color: #f2f2f2; /* Màu nền cho tiêu đề */
	z-index: 1; /* Đảm bảo tiêu đề nằm trên nội dung khi cuộn */
}
.button-group {
	text-align: center;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.button-group button {
	margin: 0 5px;
	padding: 10px;
	background-color: var(--button-color);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

/* Đảm bảo nút "Copy Toàn Bộ 5 Cột" chiếm toàn bộ hàng trên */
.button-group.rophim button:first-child {
	flex: 0 0 100%; /* Chiếm toàn bộ chiều rộng */
	text-align: center;
}

/* Các nút còn lại ở hàng dưới */
.button-group.rophim button:not(:first-child) {
	flex: 1 1 auto; /* Chia đều không gian cho các nút còn lại */
}

.button-group button:hover {
	background-color: #45a049;
}

/* Styling for select dropdown */
.buttonIn select {
	cursor: pointer;
	appearance: none;
	background-color: white;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="%234caf50" d="M7 10l5 5 5-5z"/></svg>');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 1em;
	font-size: 16px;
}

.buttonIn select:hover {
	border-color: var(--button-color);
}

/* Toast container - chứa tất cả các thông báo */
/* Toast container - fixed position on the right side */
.toast-container {
	position: fixed;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	z-index: 1000;
	width: fit-content;
}

/* Toast notification style */
.toast {
	background-color: var(--button-color); /* Màu nền của toast */
	color: white;
	padding: 10px 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-size: 16px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	opacity: 1;
	transition: opacity 0.5s ease-out;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Hiệu ứng khi đóng toast */
.toast .close-btn {
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	color: white;
	margin-left: 10px;
}

.toast.hide {
	opacity: 0; /* Khi ẩn toast */
}

/* Styling cho radio button */

input[type='checkbox'] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 2px solid var(--button-color);
	cursor: pointer;
	position: relative;
	border-radius: 5px;
	top: 8px;
}

/* Khi checkbox được chọn */
input[type='checkbox']:checked {
	background-color: var(--button-color);
}

/* Dấu tick màu trắng */
input[type='checkbox']:checked::after {
	content: '✔'; /* Dấu tick */
	color: #fff; /* Màu trắng cho dấu tick */
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hide {
	display: none;
}
.show {
	display: block;
}
#currentPageInfo {
	font-size: 16px;
	padding: 10px;
	background-color: #f0f0f0;
	border-radius: 5px;
	display: inline-block;
}

#currentPage,
#totalItems,
#itemsPerPage,
#currentP,
#totalPages,
.countMovie {
	font-weight: bold;
	color: var(--button-color);
	padding: 5px 10px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: inline-block;
	transition: transform 0.3s ease, opacity 0.3s ease;
}
.countMovie.false {
	color: #ff0000;
}

#currentPageInfo #currentPage.jump {
	transform: scale(1.2);
	opacity: 1;
}

#progressWrapper {
	width: 50%;
	margin: 20px 0;
}

#progressLabel {
	margin-bottom: 10px;
	font-size: 16px;
	color: #333;
}

progress {
	width: 100%; /* Đặt chiều rộng bằng 100% để lấp đầy phần tử cha */
	height: 20px;
	appearance: none; /* Tắt giao diện mặc định */
}

progress::-webkit-progress-bar {
	background-color: #0000ff; /* Nền của thanh tiến trình */
	border-radius: 10px; /* Bo góc thanh tiến trình */
}

progress::-webkit-progress-value {
	background-color: var(--button-color); /* Màu của thanh tiến trình */
	border-radius: 10px; /* Bo góc thanh tiến trình */
}

progress::-moz-progress-bar {
	background-color: var(--button-color); /* Màu của thanh tiến trình cho Firefox */
	border-radius: 10px;
}
